/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup_cont {
	position: absolute;
	z-index: 102;
}

.preloader {
	z-index: 101;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
    cursor: pointer;
    font-size: 40px;
    padding: 5px;
    position: absolute;
    right: 0px;
    top: -16px;
}

.popup_close:hover {
	color: #111;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #fff;
	padding: 25px;
	box-shadow: 0 3px 10px #222;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: absolute;
	top: 50%;
}