/*@import "http://fonts.googleapis.com/css?family=Ubuntu:400,500,700";*/
/*@import url(http://fonts.googleapis.com/css?family=Poiret+One);*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);

body {
	color: #868686;
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	font-weight: 300;
}

body, h1, h2, h3, h4 {
	margin: 0px;
	padding: 0px;
}

div.icons {
	text-align: left;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	margin-left: 60px;
}

	div.icons span {
		display: inline-block;
		width: 40px;
		height: 40px;
		margin: 0px 3px;
		background-size: 40px 40px;
		background-repeat: no-repeat;
		text-decoration: none;
		text-align: center;
		font-size: 10px;
	}

	div.icons .sketch {
		background-image: url('../images/icons/sketch3-bw.gif');
	}

		div.icons .sketch:hover {
			background-image: url('../images/icons/sketch3.gif');
		}

	/*div.icons .sketch::after {
			content: "Sketch3";
		}*/

	div.icons .gliffy {
		background-image: url('../images/icons/gliffy-bw.gif');
	}

		div.icons .gliffy:hover {
			background-image: url('../images/icons/gliffy.gif');
		}

	/*div.icons .gliffy::after {
			content: "Gliffy";
		}*/


	div.icons .invision {
		background-image: url('../images/icons/invision-bw.gif');
	}

		div.icons .invision:hover {
			background-image: url('../images/icons/invision.gif');
		}

	/*div.icons .invision::after {
			content: "InVision";
		}*/

	div.icons .axure {
		background-image: url('../images/icons/axure-bw.gif');
	}

		div.icons .axure:hover {
			background-image: url('../images/icons/axure.gif');
		}

/*div.icons .axure::after {
			content: "Axure";
		}*/


.section {
	/*padding-top: 75px;*/
	padding-bottom: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

	.section h1 {
		font-size: 46px;
		font-style: normal;
		line-height: 86px;
		padding: 0 0 6px;
		text-align: left;
		text-transform: uppercase;
	}

	.section h3 {
		/*color: rgb(172, 172, 172);*/
		font-size: 18px;
		/*font-style: italic;*/
		line-height: 24px;
		font-weight: 300;
		margin: 0;
	}

.sub {
	margin-bottom: 20px;
	margin-top: 40px;
	text-align: center;
}

	.sub h2 {
		text-align: center;
		background-color: rgba(255, 255, 255, 1);
		display: inline-block;
		padding: 0px 10px;
		text-transform: uppercase;
		font-size: 24px;
	}

p.about-me {
	font-size: 20px;
	line-height: 35px;
	padding: 0 10px;
}

.logo {
	height: 35px;
	vertical-align: middle;
	margin: 15px 10px;
}

.slide {
	position: relative;
}

.main-content {
	color: #ffffff;
	font-family: Verdana,Charcoal,sans-serif;
	/*left: 50%;*/
	/*margin-left: -50%;*/
	/*max-width: 1144px;*/
	position: absolute;
	text-align: center;
	bottom: 15%;
	width: 100%;
}

	.main-content h1 {
		font-size: 70px;
		line-height: 90%;
		margin-bottom: 20px;
	}

	.main-content h2 {
		font-size: 35px;
		margin-bottom: 10px;
		text-transform: uppercase;
	}

	.main-content h3 {
		font-size: 35px;
		line-height: 34px;
		/*max-width: 600px;*/
	}

	.main-content h1, .main-content h2, .main-content h3 {
		/*font-family:"Ubuntu",sans-serif;*/
		font-family: "Open Sans",sans-serif;
		font-weight: 300;
		text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.21);
		text-align: center;
	}

.menu {
	background-color: #535353;
	/*bottom: 0;
	position: absolute;*/
	width: 100%;
	z-index: 2000;
	position: fixed;
	top: 0px;
}

.fright {
	float: right;
}

.fleft {
	float: left;
}

.strike {
	/*text-decoration: line-through;*/
	opacity: 0.30;
}

div.navigation {
	margin: 0px;
	padding: 0px;
}

div.mobile {
	display: none;
	margin-right: 15px;
}

.mobile-menu div.navigation {
	display: block;
}

.mobile-menu {
	position: fixed !important;
	top: 65px !important;
	z-index: 102;
	width: 100%;
	display: none;
}

	.mobile-menu .popup_content a {
		list-style: none;
		padding: 5px;
		display: block;
		background-color: #535353;
		box-shadow: none;
	}

		.mobile-menu .popup_content a.last {
			margin-right: 0px;
		}

	.mobile-menu .popup {
		padding: 0px;
	}

.menu a {
	text-decoration: none;
}

div.navigation a {
	color: #d3d3d3;
	display: inline-block;
	font-size: 17px;
	height: 60px;
	line-height: 60px;
	min-width: 42px;
	padding: 0 5px;
	text-align: center;
	text-transform: uppercase;
}

	div.navigation a:hover {
		border-bottom: #498ecf 5px solid;
		cursor: pointer;
		color: #FFFFFF;
	}

	div.navigation a.last {
		margin-right: 10px;
	}

/*.about:before {
	content: "About";
}

.ux:before {
	content: "UX";
}

.logos:before {
	content: "Logo";
}

.illustration:before {
	content: "Art";
}

.contact:before {
	content: "Contact";
}*/

.clearfix {
	overflow: auto;
	zoom: 1;
}

.container {
	max-width: 1024px;
	margin: auto;
}

#slide1, #slide3 {
	width: 100%;
	background-size: cover !important;
	background-position: 50% 0%;
	margin-top: 65px;
}

#slide1, #slide3 {
	background-image: url("../images/slide1_bg.jpg");
}

/*#slide3 {
	background-image: url("../images/slide3_bg.jpg");
	height: 300px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
	background-position: 0 -153px;
}*/


.typed-cursor {
	opacity: 1;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

.og-grid {
	text-align: center;
	/*margin-left:10px;
	margin-right:10px;
	padding:0px;*/
	padding: 0px;
	margin: 0px;
}

	.og-grid li {
		display: inline-block;
		list-style: none;
		position: relative;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}

		.og-grid li a {
			text-decoration: none;
			/*overflow:auto;*/
			display: block;
			padding-bottom: 5px;
			margin-bottom: 10px;
		}

			.og-grid li a:hover {
				box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3);
			}

			.og-grid li a img {
				width: 250px;
				height: 250px;
			}

		.og-grid li p {
			color: #7e7e7e;
			margin-bottom: 10px;
			margin-top: 10px;
		}

/*.og-grid {
	text-align: center;
}*/

@keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/*Arrow*/
.arrows {
	width: 60px;
	height: 72px;
	margin-top: 15px;
	cursor: pointer;
}

	.arrows path {
		stroke: #ffffff;
		fill: transparent;
		stroke-width: 1px;
		animation: arrow 2s infinite;
		-webkit-animation: arrow 2s infinite;
	}

@keyframes arrow {
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
	0% {
		opacity: 0;
	}

	40% {
		opacity: 1;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}

.arrows path.a1 {
	animation-delay: -1s;
	-webkit-animation-delay: -1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay: -0.5s;
	-webkit-animation-delay: -0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {
	animation-delay: 0s;
	-webkit-animation-delay: 0s; /* Safari 和 Chrome */
}

/*Popup*/
.popup_cont {
	width: 80%;
}

	.popup_cont .clearfix {
		padding-bottom: 20px;
	}

.header-image, .header-details {
	float: left;
	width: 50%;
}

.header-details {
	margin-top: 70px;
	color: #808080;
}

	.header-details h2, .header-details h3 {
		text-transform: uppercase;
		font-weight: 300;
	}

	.header-details p {
		margin-bottom: 60px;
	}

	.header-details a {
		text-decoration: none;
	}

	.header-details p, .section-details p {
		font-size: 16px;
	}

.section-details p {
	margin: 15px;
}

/*.header-details h3, .header-details p {
		padding-left: 10px;
	}*/

.header-image, .portrait, .landscape, .double {
	text-align: center;
}

.bordered img {
	border: 1px solid rgba(0, 0, 0, 0.2);
}

h2.p-name {
	text-transform: uppercase;
	text-align: center;
}

.p-container {
	text-align: center;
	/*float:left;
	margin:auto;*/
}

	.p-container img {
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 50%;
	}

.double ul {
	text-align: left;
}

	.double ul li {
		padding: 2px;
	}

.header-image img {
	width: 95%;
	max-width: 300px;
}

.double img, .double .facts {
	width: 45%;
	max-width: 300px;
	margin: 2%;
	display: inline-block;
	vertical-align: top;
}

	.double .facts h3 {
		text-transform: uppercase;
	}

.portrait img {
	max-height: 500px;
}

.landscape img {
	padding-bottom: 25px;
	width: 95%;
	max-width: 500px;
	display: block;
	margin: auto;
}

.popup_close_footer {
	border: 1px solid #d3d3d3;
	cursor: pointer;
	font-size: 20px;
	margin: -45px auto 0;
	text-align: center;
	width: 100px;
}

	.popup_close_footer:hover {
		background-color: #aaaaaa;
	}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.75), rgba(128, 128, 128, 0));
	margin-top: -14px;
}

	hr.slim {
		margin: 0px;
		padding: 0px;
	}

.popup-section {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-name {
	display: inline-block;
	font-size: 24px;
	padding: 0px 12px 0px;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 1);
	color: #a6a6a6;
}
/*End popup*/

@media only screen and (max-width:767px) {
	#slide1 {
		margin-top: 65px;
	}

	.container {
		width: 100%;
		margin: 0px;
	}

	.main-content {
		padding-top: 70px;
		/*margin-left: 10px;
		margin-right: 10px;*/
	}

		.main-content h3 {
			font-size: 30px;
			line-height: 30px;
			/*max-width: 600px;*/
		}

	.header-image, .header-details {
		float: none;
		width: 100%;
	}

	.header-details {
		margin-top: 15px;
	}

	.section h1 {
		font-size: 40px;
		padding: 0 0 0px 30px;
	}

	.section h3 {
		line-height: 18px;
		padding: 0 0 0px 30px;
	}
}

@media only screen and (max-width:540px) {
	/*.about {
		background-image: url(../images/icons/about.svg);
	}

	.ux {
		background-image: url(../images/icons/work.svg);
	}

	.logos {
		background-image: url(../images/icons/work.svg);
	}

	.illustration {
		background-image: url(../images/icons/work.svg);
	}

	.contact {
		background-image: url(../images/icons/contact.svg);
	}

	.home, .about, .ux, .logos, .illustration, .contact {
		width: 35px;
		height: 35px;
		background-repeat: no-repeat;
		background-position: center;
	}

		.home:before, .about:before, .ux:before, .logos:before, .illustration:before, .contact:before {
			content: "";
		}*/

	div.navigation {
		display: none;
	}

	div.mobile {
		display: block;
	}

	.mobile-menu {
		display: block;
	}

	div.navigation a:hover {
		border-bottom: none;
	}

	.main-content {
		margin: 0px;
	}

		.main-content h1 {
			/*font-family: proxima_novasemibold,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
			font-size: 50px;
			margin-bottom: 15px;
			/*text-transform: uppercase;*/
		}

		.main-content h3 {
			font-size: 25px;
			line-height: 25px;
			/*max-width: 600px;*/
		}

	.og-grid li {
		margin: 0px;
		padding: 0px;
		min-width: initial;
	}

	.popup_cont {
		width: 100%;
	}

	.og-grid {
		text-align: center;
	}

	.section h1 {
		font-size: 27px;
	}

	.section h3 {
		font-size: 17px;
		line-height: 20px;
	}
}

@media only screen and (max-width:399px) {
	.double img, .double .facts {
		width: 90%;
		max-width: 300px;
	}
}
